 {% extends 'baseBack.html.twig' %}  


{% block title %}Show Publication{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Publication</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
             <tr>
                <th>Id profile</th>
                <td>{{ publication.userid.id }}</td>
            </tr>
             <tr>
                <th>Id</th>
                <td>{{ publication.userid.Username }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ publication.contenu }}</td>
            </tr>
            <tr>
                <th>Date_creationpub</th>
                <td>{{ publication.dateCreationpub ? publication.dateCreationpub|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
             <tr>
                <th>Image</th>
              <td>
    {% for media in publication.media %}
        {% if media.chemin %}
            <img src="{{ vich_uploader_asset(media, 'file') }}"  alt="Image" class="w3-margin-bottom">
        {% endif %}
    {% endfor %}
</td>
            </tr>
        </tbody>
    </table>
  <div class="row">
            <div class="col-md-6">
                <a href="{{ path('publicationback') }}" class="btn btn-secondary btn-sm">Back to List</a>
            </div>
            <div class="col-md-6 ">
                {{ include('publication/_delete_back_form.html.twig') }}
            </div>
        </div>
</div>
{% endblock %}
