{% extends 'basefront.html.twig' %}
{% block title %}<title>Liste des Offres</title>{% endblock %}

{% block body %}
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Offers</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Offer List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Offer Listing</h1>
                <a href="{{ path('app_offer_new_front') }}" class="btn btn-outline-danger float-end" style="margin-block-end: 20px; background-color:#a90909; color:white;;">Create new</a>
                <div id="cards">  
            {% for offer in offers %}
                <figure class="card1 card1--normal">
            
                
                <figcaption class="card1__caption">
                    <h1 class="card1__name "style="color: #a41b1b ;">{{ offer.titreO }}</h1>

                    <h3 class="card1__type ">
                    {{ offer.typeO }}
                    </h3>

                    <table class="card1__stats">
                    <tbody><tr>
                        <th>Location : </th>
                        <td>{{ offer.localisationO }}</td>
                        
                    </tr>
                    
                    <tr>
                        <th>Date : </th>
                        <td>{{ offer.dateO ? offer.dateO|date('Y-m-d') : '' }}</td>
                    </tr>
                    
                    <tr>
                        <th>Duration : </th>
                        <td>{{ offer.dureO }}</td>
                    </tr>

                    <tr>
                        <th>Salary : </th>
                        <td>{{ offer.salarieO }}<strong> DT</strong></td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>{{ offer.descriptionO }}</td>
                    </tr>
                  
                    </tbody></table>
                    
                    <div class="card1__abilities">
                    <h4 class="card1__ability">
                        <a href="{{ path('app_offer_show_front', {'id': offer.id}) }}" class="btn btn-outline-danger btn-sm">Show</a>
                            
                        <a href="{{ path('app_offer_edit_front', {'id': offer.id}) }}" class="btn btn-outline-danger btn-sm">Edit</a>
                    </h4>
            </div>
                </figcaption>
                </figure>
             {% else %}
                        <tr>
                            <td colspan="9">No records found</td>
                        </tr>
            {% endfor %}
            <br>
            </br>
            <br>
            </br>
          <div class="pagination justify-content-center">
                {% do offers.setPageRange(3) %}
                {{ knp_pagination_render(offers, 'pagination.html.twig') }}
            </div>
        </div>

                
    
{% endblock %}
