{% extends 'basefront.html.twig' %}

{% block title %}<title>New Library</title>{% endblock %}

{% block body %}
           <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown"> Adding Library</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="{{ path('app_front') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_biblio_index_front_recru') }}">Libraries</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Add Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    <div class="card" style="margin-left:40px;margin-top:25px;margin-right:40px;">
        <br><br>
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Add New Library</h1>
            {{ include('biblio/_form.html.twig') }}
            <button class="btn btn-sm" style="background-color: white; margin-right:auto;"> 
                <a href="{{ path('app_biblio_index_front_recru') }}"><img  src="{{ asset('FrontOffice/img/arriere.png') }}" style="width: 40px; height: 40px;"></a>
            </button>
        </div>
{% endblock %}