{% extends 'basefront.html.twig' %}

{% block title %}<title>Show Library</title>{% endblock %}

{% block body %}
       <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown"> Show Library</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="{{ path('app_front') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_biblio_index_front') }}">Libraries</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Show Library </li>
                    </ol>
                </nav>
            </div>
        </div>
    <div class="container mt-4">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Library</h1>

        <table class="table table-borderless table-striped">
         <tbody>
            <tr>
                <th>Name</th>
                <td>{{ biblio.nomB }}</td>
            </tr>
            <tr>
                <th>Field</th>
                <td>{{ biblio.domaineB }}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{ biblio.dateCreationB ? biblio.dateCreationB|date('Y-m-d') : '' }}</td>
            </tr>
         </tbody>
        </table>
        <div align="center">
            <a href="{{ path('app_biblio_edit_front', {'id': biblio.id}) }}" class="btn btn-outline-secondary btn-sm" style="margin:3px;"> Edit</a>
            <div style="margin-right:140px;margin-top:4.5px;">
                {{ include('biblio/delete_formfront.html.twig') }}
            </div>
        </div>
         </div>
            <button class="btn btn-sm" style="background-color: white; margin-right:auto;"> 
                <a href="{{ path('app_biblio_index_front') }}"><img  src="{{ asset('FrontOffice/img/arriere.png') }}" style="width: 40px; height: 40px;"></a>
            </button>
        </div>
</div>
{% endblock %}
