 {% extends 'baseBack.html.twig' %}  

{% block title %}Show Comment{% endblock %}

{% block body %}
   
<div class="container mt-4">
 <h1 class="mb-4">Comment</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
             <tr>
                <th>ID profile</th>
                <td>{{ commentaire.user.id  }}</td>
            </tr>
             <tr>
                <th>User </th>
                <td>{{ commentaire.user.Username  }}</td>
            </tr>
             <tr>
                <th>ID post </th>
                <td>{{ commentaire.Publication.id }}</td>
            </tr>
            <tr>
                <th>Contenu_com</th>
                <td>{{ commentaire.contenu_com }}</td>
            </tr>
            <tr>
                <th>Date_creationCom</th>
                <td>{{ commentaire.date_creationCom ? commentaire.date_creationCom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
            <div class="col-md-6">
                <a href="{{ path('commentaireback') }}" class="btn btn-secondary btn-sm">Back to List</a>
            </div>
            <div class="col-md-6 ">
                {{ include('commentaire/_delete_back_form.html.twig') }}
            </div>
        </div>
</div>
{% endblock %}
