{% extends 'baseBack.html.twig' %}

{% block title %}<title>Create New Calendrier</title>{% endblock %}

{% block body %}
    <div class="card" style="margin-left: 40px; margin-top: 25px; margin-right: 40px;">
        <div class="card-header" align="center">
            <strong>Create New Calendrier</strong>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            
            <div class="form-group">
                {{ form_label(form.proprietaire) }}
                {{ form_widget(form.proprietaire, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                {% if form_errors(form.proprietaire) %}
                    <div class="alert alert-danger">{{ form_errors(form.proprietaire) }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form_label(form.liste) }}
                {{ form_widget(form.liste, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                {% if form_errors(form.liste) %}
                    <div class="alert alert-danger">{{ form_errors(form.liste) }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form_label(form.notification) }}
                {{ form_widget(form.notification, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                {% if form_errors(form.notification) %}
                    <div class="alert alert-danger">{{ form_errors(form.notification) }}</div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
